<ion-header [translucent]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="close()" class="close-btn">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ar-container">
    <iframe [src]="safeUrl" class="ar-frame"
      allow="camera; gyroscope; accelerometer; magnetometer; microphone; autoplay;" 
      allowfullscreen>
    </iframe>

    <div class="instructions-overlay">
      <span class="instructions-text">Apunta a un código de barras</span>
    </div>
  </div>
</ion-content>